
body{
    font-family: Electrolize;
    font-size: xx-large;
    background-image: linear-gradient(to right, #A9F1DF, #FFBBBB);
}
#d1{
    width:200px;
    height:200px;
    margin-top:10%;
    margin-left: 10%;    
}
#b1
{
    box-shadow: 10%;
    font-size:x-large;
    color:red;
    width:300px;
    display: inline-block;   
    border-radius: 2%; 
}
#b2{
    box-shadow: 10%;
    font-size:x-large;
    color:red;
    width:300px;
    display: inline-block;  
    margin-left:90px;
    border-radius: 2%;
}
#b3{
    box-shadow: 10%;
    font-size:x-large;
    color:red;
    width:300px;
    display: inline-block;  
    margin-left:90px;
    border-radius: 2%;
}
#n1{
    height: 100px;
    align-items: center;
    opacity: 70%;
}
#str1{
    font-size: xx-large;
    color: black;
}